//general variables
$mt-200: 200px;


//body
$font-primary: 'Poppins',Arial, sans-serif;
$default-font-size: 16px;
$default-line-height: 1.8;
$default-font-weight: normal;
$default-transition-time: .3s;

//Sidebar
$sidebar-width: 250px;
$sidebar-header-font-weight: 700;
$menu-font-size: 16px;
$submenu-font-size: 14px;


//BreakPoints
$small-view: 768px;
$medium-view: 992px;